<!DOCTYPE html>
<html lang="en" dir="ltr" prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article# book: http://ogp.me/ns/book# profile: http://ogp.me/ns/profile# video: http://ogp.me/ns/video# product: http://ogp.me/ns/product# content: http://purl.org/rss/1.0/modules/content/ dc: http://purl.org/dc/terms/ foaf: http://xmlns.com/foaf/0.1/ rdfs: http://www.w3.org/2000/01/rdf-schema# sioc: http://rdfs.org/sioc/ns# sioct: http://rdfs.org/sioc/types# skos: http://www.w3.org/2004/02/skos/core# xsd: http://www.w3.org/2001/XMLSchema#">
{% include head.html %}
<body class="html front not-logged-in no-sidebars page-frontpage home navbar-is-fixed-top" >
{% include header.html %}
<div class="main-container container">
  <div class="row">
    <div class="panels-flexible-row panels-flexible-row-8_4_2_column_stacked-main-row clearfix container main-content row-fluid">
      <div class="inside panels-flexible-row-inside panels-flexible-row-8_4_2_column_stacked-main-row-inside clearfix">
        {{ content }}
      </div>
    </div>
  </div>
</div>
{% include footer.html %}
</body>
</html>
